.breadcrumb {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 1.3rem;
  color: black;
  margin-bottom: 1.5rem;
  font-weight: 450;
  &__seperator {
    color: #333;
    margin: auto 6px;
    user-select: none;
  }
  &__icon {
    height: 1rem;
    width: 1rem;
  }
  &__link {
    text-decoration: none;
    color: inherit;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  &__collapser {
    display: flex;
    align-items: center;
  }
  &__icon-home {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.4rem;
  }
  &__icon-collapser {
    cursor: pointer;
    transition: all 0.2s ease-out;
    height: 1rem;
    width: 1rem;
    margin-left: 1rem;
    &:hover,
    &:focus {
      transform: scale(1.15);
      fill: #999;
    }
    &:active {
      fill: #333;
    }
  }
}
