.btn {
  border: none;
  background: transparent;
  padding: 1rem 2rem;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 1rem;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.9;
  }
}
.btn-transparent {
  border: 1px solid $btn-color;
  color: $btn-border-color;
}
.btn-blue {
  background-color: $btn-color;
  color: white;
}
.form-btn {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #80808026;
  margin-top: 2rem;
  padding: 1rem 0px;
}
